body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fffaf9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-login, .container-cadastro {
  background-color: #ffe9e6;
  padding: 40px;
  border-radius: 15px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  color: #733f3f;
  text-align: center;
  margin-bottom: 20px;
}

form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #dfb4b4;
  border-radius: 8px;
  font-size: 1rem;
}

form button {
  width: 100%;
  padding: 12px;
  background-color: #f4b6b6;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #e89f9f;
}

p {
  text-align: center;
  margin-top: 10px;
}

a {
  color: #733f3f;
  text-decoration: none;
  font-weight: bold;
}
.grupo-email {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.grupo-email input[type="email"] {
  flex: 2;
}

.grupo-email button {
  flex: 1;
  background-color: #f4b6b6;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s;
  padding: 12px;
}

.grupo-email button:hover {
  background-color: #e89f9f;
}
